body {
  background: black url("assets/images/background.png") no-repeat fixed center;
  color: lightgrey;
  font-family: "Lucida Console", monospace;
  margin-left: 200px;
}

input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding-left: 10px;
  border-radius: 4px;
  height: 24px;
  border-style: solid;
  border-color: grey;
  background-color: black;
  margin-right: 10px;
  margin-bottom: 10px;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 5px;
  border-radius: 4px;
  border-style: solid;
  border-color: grey;
  background-color: black;
  margin-right: 10px;
}

button:hover {
  background-color: #2c2c2c;
  cursor: pointer;
}

button:hover[disabled] {
  background: none;
  cursor: default;
}

button:active {
  transform: translateY(4px);
}

[disabled] {
  color: darkgrey;
  border-color: indigo;
}

button.copy {
  background: url('/assets/images/copy.png') no-repeat;
  height: 31px;
  width: 27px;
  padding: 10px;
  border: none;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  border-style: solid;
  border-color: darkgrey;
  border-radius: 5px;
  border-width: 1px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}
